/target/*
/.lein-failures
/pom.xml
./test-*
./test.*
docs/*html
/catalog-v001.xml
/.sync.clj
/.lein-repl-history
/dev-resources/sio_rendered.clj
/java/*
/org/
o.*
/.lein-deps-sum
/.cask/
/tawny.html
/src/tawny/owl.org
/src/tawny/pattern.org
