language: clojure
lein: lein2
env:
 - PROFILE=default
 - PROFILE=3.5.0
 - PROFILE=3.4.10
 - PROFILE=3.4.9
 - PROFILE=3.4.8
 - PROFILE=1.7
script: lein2 with-profiles $PROFILE test
jdk:
 - openjdk7
 - oraclejdk8
notifications:
   email:
     - travis@russet.org.uk
